.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 10px;
  // background-color: black;
  border-bottom: 1px solid #1d1b1b;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #000;
    

  @media (max-width: 760px) {
    .topBar {
      background-color: #000;
    }
  }

  .heading {
    font-family: 'Lobster', sans-serif;
    font-size: 23px;
    font-weight: 200;
    font-style: normal;
    // color: white;
    margin-left: 10px;
  }

  .searchBar {
    flex: 1;
    margin: 0 10px;
    width: 200px;
    padding: 5px;
    background-color: #504f4f;
    // color: white;
    border-radius: 3px;
  }

  .icons {
    display: flex;
    align-items: center;

    .item {
      margin-left: 10px;
      display: flex;
      align-items: center;
      // color: white;

      i {
        font-size: 24px;
      }
    }
  }

  @media (min-width: 760px) {
    display: none;
  }
  @media (max-width: 760px) {
    // background-color:white;
  }
}
.topHead {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.light {
  background-color: #fff;
  color: #000;
}

.dark {
  background-color: #000;
  color: #fff;
}
